<?xml version="1.0"?>
<configdata>
    <production>
        <url>zend-mongo-boilerplate.com</url>

        <mongo>mongodb://127.0.0.1:27017/zend-mongo-boilerplate.com</mongo>

    </production>

    <dev extends="production">

        <url>zend-mongo-boilerplate.dev</url>

        <exceptions>true</exceptions>

        <mongo>mongodb://127.0.0.1:27017/zend-mongo-boilerplate.dev</mongo>

    </dev>

</configdata>
